<style>
    .additional-products {
        border: 1px solid rosybrown;
        padding: 1rem;
    }

    .additional-products .additional-products__item {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        border-bottom: 1px solid gray;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    .additional-products__item-title {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 0 0.5rem;
    }
</style>

{% assign additional_products = product.metafields.custom.add_on_products.value %}
{% if additional_products != blank %}
<div class="additional-products">
    {% for product in additional_products %}
    {% assign product_variant = product.selected_or_first_available_variant %}
    <div class="additional-products__item">
        <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" width="120px" height="120px">
        <h3 class="additional-products__item-title">{{ product.title }}</h3>
        <div class="additional-products__item-variants">
            {% if product.variants.size > 1 %}
            {% for variant in product.variants %}
            <label for="{{ variant.id }}">{{ variant.option1 }}</label>
            <input type="radio" id="{{ variant.id }}" name="variant" value="{{ variant.id }}" data-price="{{ variant.price }}" {% if
                product_variant.id==variant.id %} checked{% endif %}>
            <br>
            {% endfor %}
            {% endif %}
        </div>
        <b class="additional-products__item-price">{{ product_variant.price | money }}</b>
        <button class="buton-primary button-additional-product" id="{{ product_variant.id }}">
            Add to cart
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    // Add to cart additional products
    const buttonAdditionalProduct = document.querySelectorAll('.button-additional-product');
    buttonAdditionalProduct.forEach((button) => {
        button.addEventListener('click', (event) => {
            event.preventDefault();
            const variantId = event.target.id;
            const cartObject = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
            let formData = new FormData();
            formData.append('items[][id]', variantId);
            formData.append('items[][quantity]', '1'); // REPLACE BY YOUR QUANTITY

            // Append to Cart object, used for renderContents
            if (cartObject) {
                formData.append(
                    'sections',
                    cartObject.getSectionsToRender().map((section) => section.id)
                );
                formData.append('sections_url', window.location.pathname);
            }

            fetch(window.Shopify.routes.root + 'cart/add.js', {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                    if (!cartObject) return;
                    cartObject.classList.remove('is-empty');
                    cartObject.renderContents(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    });

    //check variant button
    const variantButtons = document.querySelectorAll('.additional-products__item-variants input[type="radio"]');
    variantButtons.forEach((variantButton) => {
        variantButton.addEventListener('change', (event) => {
            event.preventDefault();
            const selectedItem = event.target.closest('.additional-products__item');
            const selectedVariantId = event.target.value;
            const selectedVariantPrice = event.target.dataset.price;
            const productId = selectedItem.querySelector('.button-additional-product');
            const productPrice = selectedItem.querySelector('.additional-products__item-price');
            productId.id = selectedVariantId;
            productPrice.innerHTML = selectedVariantPrice;
        });
    });

</script>